body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-field input[type=text]:focus + label {
  color: #3f51b5 !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}

.input-field .prefix.active {
  color: #3f51b5 !important;
}

.input-field input[type=password]:focus + label {
  color: #3f51b5 !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}

[type="checkbox"]:checked + span:not(.lever)::before {
  border-right-color: #3f51b5 !important;
  border-bottom-color: #3f51b5 !important;
}

.vcenter  {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left: 50%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

ul.dropdown-content.select-dropdown li span {
  color: #3f51b5;
}
ul.dropdown-content.select-dropdown li.disabled span {
  color: grey;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done,
.datepicker-table td.is-today {
  color: #3f51b5 !important;
}
.datepicker-date-display,
.datepicker-table td.is-selected{
  color: #fff !important;
  background-color: #3f51b5 !important;
}
.datepicker-day-button:focus,
.month-prev:focus,
.month-next:focus{
  background-color: rgba(63,81,181,0.3) !important;
}


.timepicker-digital-display {
  background-color: #3f51b5 !important;
}
.timepicker-tick.active,
.timepicker-tick:hover {
	background-color: rgba(63,81,181,0.3) !important;
}
.timepicker-canvas line {
  stroke: #3f51b5 !important;
}
.timepicker-canvas-bearing,
.timepicker-canvas-bg {
	fill: rgba(63,81,181,0.5) !important;
}
.timepicker-clear,
.timepicker-close {
  color: #3f51b5 !important;
}
